body {
    background-color: rgb(163, 223, 255);
    color: black;
    font-family:  "Sevillana", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    height: 700px;
    margin: 0;

}

button {
background-color: rgb(211, 201, 255);
color: black;
font-family: "Baskervville SC", system-ui;
font-size: 17px;
}

.passo{
    display: none;
}

.passo.ativo {
    display: block;

}

main {
    text-align: center;
    max-width: 90%;

}

img{
    max-width: 90%;
}